# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Java files
*.java text eol=lf
*.xml text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf

# Shell scripts
*.sh text eol=lf
