package ${package.Parent}.converter;

import org.mapstruct.InheritInverseConfiguration;
import org.mapstruct.Mapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import ${package.Parent}.model.dto.${entity}Dto;
import ${package.Parent}.model.entity.${entity};
import ${package.Parent}.model.vo.${entity}PageVo;
import ${package.Parent}.model.form.${entity}Form;
import ${package.Parent}.model.bo.${entity}Bo;

/**
 * $!{table.comment}转换器
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper(componentModel = "spring")
public interface ${entity}Converter{

    ${entity}PageVo toPageVo(${entity}Bo Bo);

    Page<${entity}PageVo> toPageVo(Page<${entity}Bo> Bo);

    ${entity}Form toForm(${entity} entity);

    @InheritInverseConfiguration(name = "toForm")
    ${entity} toEntity(${entity}Form entity);
}